*.csv filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
docs/day-4.html filter=lfs diff=lfs merge=lfs -text
*.gt filter=lfs diff=lfs merge=lfs -text
docs/day-1.html filter=lfs diff=lfs merge=lfs -text
docs/day-2.html filter=lfs diff=lfs merge=lfs -text
docs/day-3.html filter=lfs diff=lfs merge=lfs -text
docs/day-6.html filter=lfs diff=lfs merge=lfs -text
